.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-background);
  margin-left: calc(-1 * var(--desktop-padding));
  margin-right: calc(-1 * var(--desktop-padding));
  padding: 2rem var(--desktop-padding);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

@media (max-width: 550px) {
  .wrapper {
    margin-left: calc(-1 * var(--mobile-padding));
    margin-right: calc(-1 * var(--mobile-padding));
    padding: 1rem;
  }
}
