.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: var(--secondary-background);
}

.header {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

@media (max-width: 550px) {
  .wrapper {
    padding: 1rem 2rem;
  }
}
